<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Organica-Tienda de Plantas</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kings&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e57dcec104.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body class="">
  < <header class="contenedorprincipal">
    <!--titilo de pagina web-->
    <h1><a class="inicio" href="index.html">ORGANICA</a></h1>
    <!--barra de navegacion-->
    <nav class="pedro">

      <a class="botones" href="public/view/tipycuidados.html" target="_blank" style="--clr:#6eff3e"> <span>CUIDADOS Y
          TIP</span><i></i> </a>
      <a class="botones" href="public/view/productos.html" target="_blank" style="--clr:#6eff3e">
        <span>PRODUCTOS</span><i></i></a>
      <a class="botones" href="public/view/contacto.html" target="_blank" style="--clr:#6eff3e">
        <span>CONTACTOS</span><i></i></a>
      <a class="botones" href="public/view/nosotros.html" target="_blank" style="--clr:#6eff3e">
        <span>NOSOTROS</span><i></i> </a>
    </nav>

    </header>

    <main class="fondo">

      <h2 class="titulocard">NOSOTROS</h2>

      <section > <!--texto eplicativo de la pagina-->
        <P class="nosotros__parrafo"> Somos un vivero productor que se fundo en el año 1983 con el sueño de trabajar en el arte de
            hacer plantas,
            con premisas claras y el compromiso de producir plantas de calidad y lograr un servicio al cliente que
            permita lograr un vínculo de confianza y respeto. </P>
        <P class="nosotros__parrafo" > El vivero comenzó con la producción de plantines florales y herbáceas perennes. A los pocos
            años, al
            adquirir el primer campo de San Pedro se sumaron a la producción los arbustos leñosos y semi leñosos,
            árboles frutales y forestales. Al estar inscriptos en el SENASA y el INASE (organismos estatales que regulan
            y controlan nuestra producción), podemos garantizar la sanidad de las mismas. Nuestra casa central está
            ubicada en la localidad de Longchamps provincia de Buenos Aires, con una superficie destinada a la
            producción de 30000 m2 distribuidos en 7000 m2 de invernáculos de última generación con apertura cenital.
            Con 3000 m2 de sombraculos y el resto utilizado para especies que requieren las condiciones de campo. En la
            casa central contamos con un stock permanente y variado de insumos para el jardín. </P>
        <P class="nosotros__parrafo"> También contamos con un campo de 110.000m2 en la localidad de San Pedro provincia de Buenos
            Aires,
            exclusivamente de producción de frutales cítricos, de carozo, y de pepita, arbustos, como así también todo
            lo referente a un amplio surtido de árboles. La decisión de contar con dos zonas productoras tan distantes
            como disímiles es justamente, poder aprovechar las bondades de cada una para lograr la mejor calidad y
            servicio aprovechando por un lado las ventajas edafoclimaticas de San pedro y la logística en la
            distribución y comercialización de Longchamps punto equidistante de los grandes centros de consumo en
            Capital y el gran Buenos Aires. </P>
        </section>
        <section class="contenedor"> <!--imagenes-->
            <figure class="figure">
                <img src="../img/vivero2.jpg" class="figure-img img-fluid rounded"  alt="foto">
                <figcaption class="figure-caption"#fff >CREECIENDO JUNTOS.</figcaption>
              </figure>
              <figure class="figure">
                <img src="../img/vivero3.jpg" class="figure-img img-fluid rounded" alt="foto">
                <figcaption class="figure-caption">VIVERO CENTRAL DESDE 2000 </figcaption>
              </figure>
        </section>


      <div class="envio">
        <article class="asesoramiento">
          <i class="bi-bi-whatsapp"></i>
          <p class="pd">ASESORAMIENTO EN VENTAS</p>
          <P class="pd">
            Con nuestra atención personalizada vas a poder encontrar la mejor planta para tu hogar</P>
        </article>
        <P class="pd">RECIBÍ EL PEDIDO EN TU HOGAR O RETIRALO POR NUESTRO LOCAL DE PALERMO</P>
        <P class="pd">Te contactaremos por WhatsApp desde el sector de ENVÍOS para coordinar el pedido - Tiempo de
          Entrega: 1
          a 3 días hábiles - Atención Virtual: Lunes a Sábado de 10 a 18 hs.</P>
      </div>

    </main>


    <!--pie de pagina-->

    <footer class="pie-pagina">
      <div class="grupo-1">
        <div class="box">
          <figure>
            <a href="../../index.html"></a>
            <img src="../img/logo.jpg" alt="logo">
            </a>
          </figure>
        </div>
        <div class="box">
          <h2>SOBRE NOSOTROS</h2>
          <P>
            Vivero ORGANICA
          </p>
          <p> CONTACTANOS</p>
          <p>11 3193-8134</p>
          <p> palermo@viveromario.com.ar</p>
          <p> Av. Raúl Scalabrini Ortiz 1240</p>
        </div>
        <div class="box">
          <h2>SIGUENOS</h2>
          <div class="red-social">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
          </div>

        </div>

      </div>
      <div class="grupo-2">
        <small>&copy; 2023 <b>ORGANICA</b> -TODOS LOS DERECHOS RESERVADOS</small>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>