<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>organica</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kings&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e57dcec104.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="fondo">
    <header>
      <a class="inicio" href="../../index.html">ORGANICA</a>
    </header>
<!--barra de navegacion-->
    <nav class="pedro">
      <a class="botones" href="../view/tipycuidados.html" target="_blank" style="--clr:#6eff3e"> <span>CUIDADOS Y TIP</span><i></i>
      </a>
      <a class="botones" href="../view/productos.html" target="_blank" style="--clr:#6eff3e"> <span>PRODUCTOS</span><i></i></a>
      <a class="botones" href="../view/contacto.html"  target="_blank" style="--clr:#6eff3e"> <span>CONTACTOS</span><i></i></a>
      <a class="botones" href="../view/nosotros.html"  target="_blank" style="--clr:#6eff3e"> <span>NOSOTROS</span><i></i> </a>
    </nav>
    <div> <!--texto explicativo-->
      <h2 class="contenedor-de-fotos">TIPS Y CUIDADOS</h2>
      <P class="conp">
      <p class="conp"> Planta de interior o de exterior :</p>
      <p class="conp">Los siguientes consejos serán más universales, pero la regla de oro es conocer bien nuestra
        planta, por eso está
        la primera. Aunque la mayoría de plantas que se cultivan habitualmente comparten muchas de sus necesidades, cada
        especie puede ser un mundo y algunas tienen necesidades muy concretas y específicas. Entérate de cuál es la
        especie de tus plantas y cuáles son sus necesidades particulares. Por ejemplo, no será lo mismo averiguar cómo
        cuidar una planta de interior que una planta de exterior.</p>

      <p class="conp"> Riego :</p>
      <p class="conp"> La gran mayoría de plantas no tolera el encharcamiento en su tierra o sustrato, por lo que
        regarlas en
        cantidades excesivas es una de las principales causas de la muerte de las plantas en el hogar. Es mucho mejor
        regar a menudo y en pequeñas cantidades que hacerlo poco y mucho, aunque esto sea más fácil. Las plantas
        resistentes a la sequía, como los cactus y crasas en general, son especialmente vulnerables al encharcamiento.
      </p>

      <p class="conp"> Humedad del suelo</p>
      <p class="conp"> Otro de los cuidados básicos de las plantas es comprobar la humedad del suelo donde están
        plantadas. Si no estás
        seguro de si tu planta necesita riego o no, clava un pequeño palillo o incluso un dedo en el sustrato, junto a
        la planta y sin dañarla. Si la tierra está húmeda se quedará pegada al palillo o a tu dedo y, normalmente,
        querrá decir que aún no necesita riego.
      </p>
      <p class="conp"> TE DEJAMOS ESTOS VIDIOS DE CUIDADOS PARA MAS INFO</p> <!--video-->
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/aRRuK9bBogw"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

        <P class="conp">TE DEJAMOS ESTE <a href="https://www.ecologiaverde.com/como-cuidar-las-plantas-3655.html" target="_blank">  BLOG </a>PARA QUE TENGAS MAS INF</P>
      <h2 class="contenedor-de-fotos">FICUS LYRATA</h2>
      <img class="img-1" src="../img/planta1.jpg" alt="foto6">
      <p class="conp">FICUS LYRATA</p> <!--imagenes de cuidado-->
      <p class="conp"> Altura de Producto: 75cm</p>
      <p class="conp"> Lugar: luminoso, aunque resiste en sitios con lama calidad de iluminación y con poca calefacción
        Riego: moderado
        suelo liviano con buen drenaje Planta ideal para iniciantes en jardinería
      </p>
    </div>
    <div>
      <h2 class="contenedor-de-fotos">DIEFENBACHI</h2>
      <img class="img-1" src="../img/planta4.jpg" alt="foto1">
      <p class="conp">DIEFENBACHIA</p>
      <p class="conp"> Interior luminoso, o exterior en cualquier exposición protegida del viento.</p>
      <p class="conp"> Herbácea que desarrolla gran tamaño, con grandes hojas similares a un bananero. No es conveniente
        ubicarla en
        lugares ventosos porque se acelera el desgarro natural de sus hojas. Genera hijuelos desde la base y va
        creciendo
        en ancho. Necesita contenedores amplios y mucho espacio.</p>
    </div>
    <div>
      <h2 class="contenedor-de-fotos">FICUS BENJAMINA</h2>
      <img class="img-1" src="../img/planta5.jpg" alt="foto2">
      <p class="conp">FICUS BENJAMINA</p>
      <p class="conp"> Interior luminoso, aunque tolera condiciones de baja luminosidad, o exterior protegido a la
        sombra</p>
      <p class="conp"> es una planta de crecimiento vertical, por lo general se
        comercializan uno o varios troncos por maceta con brotes en el extremo. Puede llegar a los 2 m de altura. Las
        hojas son alargadas con una franja central más clara. Es una de las plantas de interior más longevas y
        resistentes.
      </p>
    </div>
    <div>
      <h2 class="contenedor-de-fotos">BEGONIA</h2>
      <img class="img-1" src="../img/planta2.jpg" alt="foto3">
      <p class="conp">BEGONIA</p>
      <p class="conp">UBICACIÓN: Exterior a media sombra. Cuanto más baja es la temperatura más resisten el sol pleno.
      </p>
      <p class="conp"> Plantas bulbosas que forman una mata con hojas acorazonadas. Brotan en Otoño y florecen en
        Invierno y Primavera. En Verano entran en dormición y pierden gran parte del follaje, se pueden conservar de un
        año al otro dejándolas en la sombra y regándolas esporádicamente. El riego debe ser con agua a temperatura
        ambiente, no hace falta colocarles hielo.
      </p>
    </div>
    <div>
      <h2 class="contenedor-de-fotos">SANSEVIERIA</h2>
      <img class="img-1" src="../img/planta3.jpg" alt="foto4">
      <p class="conp">SANSEVIERIA</p>
      <p class="conp">UBICACIÓN: Interior luminoso, o exterior en zonas libre de heladas. </p>
      <p class="conp"> Forma una mata de hojas rígidas alargadas como espadas verde oscuro con bandas transversales
        grisáceas. La variedad ‘Laurentii’ tiene el borde de la hoja de color amarillo. Tolera interiores poco luminosos
        siempre y cuando la frecuencia de riego sea muy baja. Resiste ambientes cerrados y secos. Si está en exterior lo
        ideal es que esté a media sombra, con sol directo intenso las hojas se suelen tornar amarillentas.
      </p>
    </div>
    <div>
      <h2 class="contenedor-de-fotos">OREJA DE ELEFANTE</h2>
      <img class="img-1" src="../img/elefante.jpg" alt="foto5">
      <p class="conp">OREJA DE ELEFANTE</p>
      <p class="conp">UBICACIÓN: Interior luminoso, o exterior a media sombra/sombra, protegida del viento.</p>
      <p class="conp"> planta trepadora en su hábitat natural, no hay que cortar sus largas raíces colgantes. Sus hojas
        están perforadas naturalmente para dejar pasar la luz y ofrecer menor resistencia a la lluvia y el viento. De
        gran desarrollo, es necesario ubicarla en lugares amplios.
      </p>
    </div>
<!--pie de pagina-->
    <footer class="pie-pagina">
      <div class="grupo-1">
        <div class="box">
          <figure>
            <a href="#"></a>
            <img src="../img/logo.jpg" alt="logo">
          </figure>
        </div>
        <div class="box">
          <h2>SOBRE NOSOTROS</h2>
          <P>

            Vivero ORGANICA</p>
          <p> CONTACTANOS</p>
          <p>11 3193-8134</p>
          <p> palermo@viveromario.com.ar</p>
          <p> Av. Raúl Scalabrini Ortiz 1240</p>

        </div>
        <div class="box">
          <h2>SIGUENOS</h2>
          <div class="red-social">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
          </div>

        </div>

      </div>
      <div class="grupo-2">
        <small>&copy; 2023 <b>ORGANICA</b> -TODOS LOS DERECHOS RESERVADOS</small>
      </div>
    </footer>

</body>

</html>